# Virtual Environment
.venv/

# Environment Variables
.env

# Python
__pycache__/
*.pyc
*.pyo

# IDE
.vscode/
.idea/

# Testing
.pytest_cache/

# Alembic
alembic/versions/*.pyc

# OS
.DS_Store
Thumbs.db

# Coverage
htmlcov/
.coverage

# Mypy
.mypy_cache/

# Ruff
.ruff_cache/